/************************************************************
  Desktop Responsive Designs
************************************************************/

/****************************************
  Root Styles
****************************************/
body {
  background-image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 42%, contain;
  background-position: left top, right bottom;
}


/****************************************
  Utility Styles
****************************************/
.curr-max-width {
  max-width: none;
}

/****************************************
  Desktop Layout Styles
****************************************/
#desktop-layout {
  display: flex;
  max-width: 1440px;
  margin-bottom: 3rem;
}
    /********************
      Intro Section
    ********************/
    #intro {
      background-image: none;
      margin-right: 4rem;
    }
    #intro div {
      text-align: left;
      margin: 0rem;
    }
    #intro h1 {
      margin: 8rem 0rem 1.25rem 8rem;
      font-size: 3em;
    }
    #intro p {
      margin: 0rem 0rem 0rem 8rem
    }
    /********************
      Ratings Section
    ********************/
    #ratings {
      margin: 9rem 8rem 0rem 0rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #ratings .rating-container {
      margin-left: 0rem;
      margin-right: 0rem;
      width: 450px;
      display: flex;
      align-items: center;
    }
    #ratings .r-second-container {
      margin-left: 4rem;
    }
    #ratings .r-third-container {
      margin-left: 8rem;
    }
    #ratings .rating-container .stars {
      margin: 0rem 2.5rem;
    }
    
/****************************************
  Reviews Section Styles
****************************************/
#reviews {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1440px;
}
#reviews .review-container {
  margin: 0rem;
  height: 75%;
}
#reviews .first-container {
  margin-right: 1rem;
  margin-left: 8rem;
}
#reviews .second-container {
  margin-top: 3rem;
  margin-right: 2rem;
}
#reviews .third-container {
  margin-top: 6rem;
  margin-right: 8rem;
}

/****************************************
  Footer Styles
****************************************/
.attribution {
  font-size: 11px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/************************************************************
  Large Desktop Responsive Designs
************************************************************/
@media only screen and (min-height: 900px) {
  /****************************************
    Root Styles
  ****************************************/
  body {
    height: 100vh;
  }
}