/************************************************************
  Default Styles / Mobile-first Approach 
************************************************************/

/****************************************
  Root Styles
****************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 15px;

  /***************
    Colors
  ***************/

  /* Primary */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* Neutral */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/****************************************
  Utility Styles
****************************************/

/****************************************
  Intro Section Styles
****************************************/
#intro {
  background-image: url("/images/bg-pattern-top-mobile.svg");
  background-repeat: no-repeat;
}
#intro div {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
#intro h1 {
  color: var(--very-dark-magenta);
  margin: 4rem 2rem 1.25rem 2rem;
  font-size: 2em;
}
#intro p {
  color: var(--dark-grayish-magenta);
  line-height: 25px;
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}

/****************************************
  Ratings Section Styles
****************************************/
#ratings {
  width: 100%;
}
#ratings .rating-container {
  border-radius: 10px;
  color: var(--very-dark-magenta);
  background-color: var(--light-grayish-magenta);
  margin: 0rem 1.25rem 1rem 1.25rem;
  padding: 1.25rem 0rem;
  text-align: center;
}
#ratings .rating-container .stars {
  margin-bottom: 0.95rem;
}
#ratings p {
  font-weight: 700;
}

/****************************************
  Footer Styles
****************************************/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
