/************************************************************
  Default Styles / Mobile-first Approach 
************************************************************/
/****************************************
  Root Styles
****************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /******Start Colors*****/

  /* Primary */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* Neutral */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  /******End Colors*****/
}

body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}

/****************************************
  Footer Styles
****************************************/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
